div(style="display:none;")
   #dialog(title='Basic dialog')
     p
       | 此功能正在开发中
footer
  .ym-wrapper#footer-wrapper
    .ym-wbox
      p.foot-links
        span.foot-link-span
          a.foot-link#foot-link_contact(href='/contact_us') 联系我们
        span.foot-link-span
          a.foot-link#foot-link_introduction(href='/introduction') 产品介绍
        span.foot-link-span 粤ICP备11092013号-2
          