| <meta charset="utf-8"/>
| <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
| <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
| <link rel="stylesheet" href="/yaml/add-ons/accessible-tabs/tabs.css" type="text/css"/>
| <link href="../css/flexible-grids.css" rel="stylesheet" type="text/css"/>
| <link href="../css/global/global.css" rel="stylesheet" type="text/css"/>
| <link href="../css/global/xiaoji.css" rel="stylesheet" type="text/css"/>
| <link href="../yaml/add-ons/accessible-tabs/tabs.css" rel="stylesheet" type="text/css"/>
| <!--[if lte IE 7]><link href="/yaml/core/iehacks.css" rel="stylesheet" type="text/css" /><![endif]-->
| <link rel="SHORTCUT ICON" href = "../img/favicon.ico">
