j/ bar
.well.sidebar-nav
    ul.nav.nav-list
        li.nav-header 用户管理
        li.active 
            a(href='/search') 搜索
        li 
            a(href='/charge') 充值
        li          
            a(href='/sendMessage') 发送消息
        li
            a(href='/blacklist') 黑名单

        li.nav-header 公告
        li 
            a(href='/postBulletin') 发布公告
        li 
            a(href='/getBulletins') 公告列表
