doctype html
html
  head   
    meta(name='keywords', content='小吉,画画,声音,娱乐')
    meta(name='description', content='小吉,画画,大舌头,小吉是一个基于艺术创作工具和社区,涵盖绘画创作、声音创作等各个艺术领域,还提供给用户各种娱乐小游戏')
    include includes/head  
    link(href='../css/homepage/homepage.css', rel='stylesheet', type='text/css') 
  body
    include includes/top_bar
    include xiaoji_huahua_main        
    include includes/foot    
    include includes/script 
    script(src="../js/homepage/homepage-json.js")
    script 
      $(function() {   $( "#tabs" ).tabs({ active: 1 });  });

