doctype html
html
  head  
    meta(name='keywords', content='小吉，画画，声音，联系方式')
    meta(name='description', content='小吉，联系方式，小吉是一个基于艺术创作工具和社区，涵盖绘画创作、声音创作等各个艺术领域，还提供给用户各种娱乐小游戏')     
    title   联系我们 
    include ../includes/head  
    link(href='../css/homepage.css', rel='stylesheet', type='text/css') 
    link(href='../css/bottom/bottom_link.css', rel='stylesheet', type='text/css') 
    link(href='../css/bottom/contact.css', rel='stylesheet', type='text/css')
  body
    include ../includes/top_bar
    .main_div
        .title_div.center 联系我们 
        .content_detail.center
           .content-item.content-item1 广告投放、商务合作、媒体合作
           .content-item.content-item1-email 请Email：
               span.email_span penglingzhe@gmail.com
           .content-item.content-item2  有问题要反馈,或寻求帮助
           .content-item.content-item2-email 请Email：
               span.email_span penglingzhe@gmail.com
           .content-item.sina_weibo 新浪微博：
               span.weibo_name 
                  a.weibo-link(href="http://weibo.com/drawlively" target="_blank")  @小吉画画
                  a.weibo-link(href="http://weibo.com/xiaojidashetou" target="_blank") @小吉大舌头
           .content-item.sina_weibo 腾讯微博：
               span.tencent_name 
                  a.weibo-link(href="http://t.qq.com/drawlively" target="_blank")  @小吉画画
                  a.weibo-link(href="http://t.qq.com/xiaojidashetou" target="_blank") @小吉大舌头
    include ../includes/foot    
    include ../includes/script 
    script(src="../js/bottom/modify_position.js")  

