doctype html
html
  head  
    meta(name='keywords', content='小吉，画画，声音，小吉介绍')
    meta(name='description', content='小吉，小吉介绍，小吉是一个基于艺术创作工具和社区，涵盖绘画创作、声音创作等各个艺术领域，还提供给用户各种娱乐小游戏。')     
    title   小吉介绍
    include ../includes/head  
    link(href='../css/homepage.css', rel='stylesheet', type='text/css') 
    link(href='../css/bottom/bottom_link.css', rel='stylesheet', type='text/css') 
    link(href='../css/bottom/introduction.css', rel='stylesheet', type='text/css') 
  body
    include ../includes/top_bar
    .main_div
        .title_div.center 小吉介绍 
        .content_detail.center
           .content-item.xiaoji-general 
             span.red_span 小吉
             span 是一个基于艺术创作工具和社区，涵盖绘画创作、声音创作等各个艺术领域。
           .content-item.xiaoji-drawing  
             span.blue_span 小吉画画
             span 是目前国内最好的手机和平板电脑上的绘画工具和社区、App，提供最为优秀的绘画工具，最富有人气的绘画互动娱乐社区，画画比赛，家族等强大功能。
           .content-item.xiaoji_voice 
             span.blue_span 小吉大舌头
             span 是一个趣味互动的声音社区，录制一段有趣的声音，与社区的用户们共同分享，还可以送给你的好友，闲暇无聊之时，可以玩你唱我猜的互动游戏。
    include ../includes/foot    
    include ../includes/script  
    script(src="../js/bottom/modify_position.js") 

