doctype 5
html
  head    
    include ../includes/head
    link(href='../css/user_page.css', rel='stylesheet', type='text/css') 
  body
    include ../includes/top_bar
    include user_page_main    
    include ../includes/foot  
    include ../includes/script
    script(src="../js/user_page_json.js") 
