.ym-wrapper
  .user-detail
      img.user-icon(src='../img/female@2x.png')
      .user-description
        span.user-title-span
           冷色的月光(111111111)
        span.user-information-span 男    lv32    
        span.statement 我真的很喜欢画画
      span.line-span
         hr.span-hr
      .opus-head-div 
          span.title-name 作品
      span.line-span
         hr.span-hr         
      .opus-div
        .opus-loading-div.center 
           img.center(src='../img/loading.gif', alt='载入中')
        .opus-body-div
        .more-div
          button.more-link.opus-more 更多>>
      span.line-span
         hr.span-hr
      .collection-head-div 
          span.title-name 收藏
      span.line-span
         hr.span-hr 
      .collection-div
        .collection-loading-div.center 
           img.center(src='../img/loading.gif', alt='载入中')
        .collection-body-div
        .more-div
          button.more-link.collection-more 更多>>
      .template-div(style="display:none;")
        .inner-div#inner-div(style="display:none;")
          .img-div
            a.image-link(href='/opus/512c971de4b02d50d0d20376')
              img.image-show#image-show(src='http://58.215.184.18:8080/draw_image/20130226/7fccf820-8004-11e2-adb1-00163e017d23_m.jpg', alt='甄嬛', onload='load_big_size(this)')
          .state-div
            span.pub-time.float-left 2013-02-26
            span.operating-span.float-right
              img.default-img(src='../img/flower.png', alt='鲜花')
              span.img-span 5873
              img.default-img(src='../img/comment.png', alt='评论')
              span.img-span 769
