doctype html
html
  head 
    meta(name='keywords', content='小吉，画画，声音，登陆')
    meta(name='description',content='小吉，登陆界面，小吉是一个基于艺术创作工具和社区，涵盖绘画创作、声音创作等各个艺术领域，还提供给用户各种娱乐小游戏') 
    title   登录   
    include ../includes/head
    link(href='../css/register_login/login.css', rel='stylesheet', type='text/css') 
  body
    include ../includes/top_bar
    include login_main       
    include ../includes/foot  
    include ../includes/script
    script(src="../js/register_login/input_border.js")
    script(src="../js/register_login/form_display.js") 
    script(src="../js/register_login/login.js")
