title 小吉画画

.ym-wrapper
  .ym-grid.linearize-level-1
    #tabs(style="display:inline-block;border:0px solid #FFFFFF; width:100%;")
      .tabs-ul-div#tabs-ul-div
          ul.tabs-list
              li.tabs-item.tabs-item-1
                a#ui-id-1(href='#tabs-1') 年度
              li.tabs-item.tabs-item-2
                a#ui-id-2(href='#tabs-2') 本周
              li.tabs-item.tabs-item-3
                a#ui-id-3(href='#tabs-3') 最新
              li.tabs-item.tabs-item-4
                a#ui-id-4(href='#tabs-4')  推荐
      .main-tabs-div
          #tabs-1#tabs-div
            .ym-g100.tab1-div.tab-div
          #tabs-2#tabs-div
            .ym-g100.tab2-div.tab-div
              .loading-div
                img.center(src='../img/loading.gif', alt='载入中图标')  
          #tabs-3#tabs-div
            .ym-g100.tab3-div.tab-div
          #tabs-4#tabs-div
            .ym-g100.tab4-div.tab-div   
          .loading-image-div(style="display:none;")
             img.center.main-loading-img(src='../img/loading.gif', alt='载入中图标') 
          .page-div(style="display:none;")
            button(class="page-previous page-link" style="font-weight:bold;") <
             button#page1(class="page1 page-link page-normal") 1
             button#page2(class="page2 page-link page-normal") 2
             button#page3(class="page3 page-link page-normal") 3
             button#page4(class="page4 page-link page-normal") 4
             button#page5(class="page5 page-link page-normal") 5
             button#page6(class="page6 page-link page-normal") 6
             button#page7(class="page7 page-link page-normal") 7
             button#page8(class="page8 page-link page-normal") 8
             button#page9(class="page9 page-link page-normal") 9
             button#page10(class="page10 page-link page-normal") 10                  
             button(class="page-next page-link" style="font-weight:bold;") >         

      .template-div(style="display:none;")
        .inner-div(style="display:none;")
          .participant-div
            a.icon-link(href='#')
              img#icon-img.img-rounded.icon-img.float-left(alt='   icon' title)
            .msg
              .info-name-detail
                a.name-link(href='#') 赚赚
              .info-desc-detail   平素上猜猜画画来看画，只觉得乱花迷眼，是真真挑不来，只有尽着那画面新鲜有趣的，抑或是涂鸦看似狗血的，随手点几个来看。也有那画得新巧的，让人看了就放不下，还常有些世道人心的，看了直教人唏嘘。。。今儿见了猜画这个榜单，那是从心里就喜欢了，又有趣，又不俗，最巧的是，偏生我也一早就有这个意思，最爱这样故意拿捏着画，只是总找不到地方，今儿我可算是得了.
          .img-div
            a.image-link(href='/opus/512c971de4b02d50d0d20376')
              img.image-show(onload='load_big_size(this)')
          .state-div
            span.pub-time.float-left 2013-02-26
            span.operating-span.float-right
              img.default-img(src='../img/flower.png', alt='鲜花')
              span.img-span.flower-number 5873
              img.default-img(src='../img/comment.png', alt='评论')
              span.img-span.comment-number 769


