doctype 5
html
  head 
    meta(name='keywords', content='小吉，画画，工具，社区，作品详情')
    meta(name='description', content='小吉作品详情，小吉画画是目前国内最好的手机和平板电脑上的绘画工具和社区App，提供最为优秀的绘画工具，最富有人气的绘画互动娱乐社区，还提供画画比赛，家族等强大功能')     
    include ../includes/head
    link(href='../css/opus/workshop.css', rel='stylesheet', type='text/css') 
  body
    include ../includes/top_bar
    include opus_detail_main       
    include ../includes/foot  
    include ../includes/script  
    include opus_detail_script  
    script(src="../js/opus/comment_reply.js") 
    script(src="../js/opus/QR_img.js") 
    script(src="../js/global/follow.js") 
    script(src="../js/opus/flower_store.js") 

   

